/* colors

#264022 dark green
#698C46 more light green
#BF9278 brown-orange
#D9CCC5 beige
#735E5A; brown

*/

body {
	background-image:url("../images/bg.png");
	background-repeat:no-repeat;
	font-family:sans-serif;
}

h1, h2, p {
	font-family:sans-serif;
}

h1 {
	background-color: #264022;
	color: #D9CCC5;
}

h2 {
	background-color: #D9CCC5;
	color: #735E5A;
}

#zutaten { /*tabelle mit den Zutaten */
}

#kommandozeile {
	font-family:sans-serif;
	background-color: #D9CCC5;
	color: #735E5A;
}

#anweisungen {
	line-height:125%;
}

#table_all_recipes td, #table_all_recipes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table_all_recipes tr:nth-child(even){background-color: #f2f2f2;}

#table_all_recipes tr:hover {background-color: #ddd;}

.icon {
	padding:5px;
}

.kategorie {
  border: 2px solid #698C46;
  color: #698C46;
  padding: 5px;
  margin: 5px;
  display: inline-block /* Groesse der Boxen an Inhalt anpassen */
}

.alignright { text-align: right; }
.alignleft { text-align: left; }
.ingredientslist_amount { text-align: right; }


* {
  box-sizing: border-box;
}

#recipeCategories {
  background-image: url('{{ url_for('static', filename='images/search_icon.png') }}');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#recipeName {
  background-image: url('{{ url_for('static', filename='images/search_icon.png') }}');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}



#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

input {
    border: 1px solid #eee;
    border-radius: 4px;
    line-height: 1.5em;
    padding: 4px;
}