<head>
	<title>L&ouml;schen best&auml;tigen</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<style>
	table, th, td {

	  border-collapse: collapse;
	}
	th, td {
	  padding: 5px;
	}
	</style>
</head>

<body>
{% include 'top_menue.html' %}
<h2>Aufpassen!</h2>


Sicher, dass Du {{rezeptname}} l&ouml;schen willst&#63;
<br>
<form action="{{rezeptname}}_delete" method="post">
	<input type="hidden" name="sure_you_want_to_delete" value="no">
	<input type="submit" value="Nein, nicht l&ouml;schen">
</form>
<form action="{{rezeptname}}_delete" method="post">
	<input type="hidden" name="sure_you_want_to_delete" value="yes">
	<input type="submit" value="Ja, vernichten">
</form>