<head>
<style>
table, th, td {

  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
</style>
</head>

<body>
<h1>{{rezept["Name"]}}</h1>
für {{rezept["Personenzahl"]}} Personen. Editor

<table align="left" vspace="10">
	<tr>
		<td colspan="3"><b>Zutaten</b></td>
	</tr>
	{% for zutat in rezept["Zutaten"] %}
	<tr>
		<td align="left" width="1%">{{zutat[1]}}</td>
		<td align="left" width="15%">{{zutat[2]}}</td>
		<td align="left">{{zutat[0]}}</td>
	</tr>
	{% endfor%}
	<tr>
		<td colspan="3"><b>Anweisungen</b></td>
	</tr>
	<tr>
		<td colspan="3">{{rezept["Anweisungen"]}}</td>
	</tr>
	<tr>
		<td colspan="3"><a href="../">Zur Hauptseite</a></td>
	</tr>
</table>

 <!--the data from the form below is transfered to "create_recipe_review" in order to edit the recipe-->
<form action="create_recipe_review" method="post" autocomplete="off">
	<input type="hidden" name="Rezeptname" value="{{rezept['Name']}}">
	<input type="submit" value="Eintrag bearbeiten">
</form>
<form action="delete_recipe" method="post">
	<input type="hidden" name="Rezeptname" value="{{rezept['Name']}}">
	<input type="hidden" name="sure_you_want_to_delete" value="no_decision">
	<input type="submit" value="Eintrag loeschen">
</form>

</body>
