<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
{% include 'top_menue.html' %}

<h2>Rezept von chefkoch.de importieren</h2>
<form action="new_recipe_review" method="post" autocomplete="off">
	Chefkoch.de URL:
	<input type="text" name="chefkoch_url" placeholder="https://www.chefkoch.de/rezepte/...">
	<input type="submit" value="Rezept einlesen">
	
	<input type="hidden" name="nochmal_reviewen" value="1">
	<input type="hidden" name="review_runde" value="0">
	<input type="hidden" name="Rezeptname">
	<input type="hidden" name="Kategorien">
	<input type="hidden" name="Personenzahl">

	<input type="hidden" type="text" name="Menge">
	<input type="hidden" list="Mengeneinheit" name="Mengeneinheit">
	<input type="hidden" type="hidden" name="Zutat_wasTun" value="damit es da ist">
	<input type="hidden" list="Zutat" name="Zutat">
	<input type="hidden" name="new_or_edit" value="new">
	<input type="hidden" name="source" value="chefkoch">
	<input id="field_recipe_edited" type="hidden" name="recipe_changed" value="initial">

</form>
</body>
