<head>
<style>
	<title>Info</title>
table, th, td {

  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
{% include 'top_menue.html' %}
<h2>Rezeptermanager Info</h2>

<table>
{% for name, value in info.items() %}
<tr>
	<td>{{name}}</td><td>{{value}}</td>
</tr>
{% endfor %}
</table>

</body>
