<head>
<style>
	<title>{{text_for_title}}</title>
table, th, td {

  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
{% include 'top_menue.html' %}
<h2>{{text_for_h2}}</h2>
</p>
</body>