<!-- <!DOCTYPE html> -->
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


  <style id="compiled-css" type="text/css">
	  section {
	padding: 10px;        
}

section > div {
	padding: 5px;
	width: 100%;
}

div.new {
	background-color: rgb(230,230,230);
	border-bottom: 1px dotted #ccc;
	display: none;
}

input {
	border: 1px solid #eee;
	border-radius: 4px;
	line-height: 1.5em;
	padding: 4px;
}

a.rowDelete {
	cursor: pointer;
	padding-left: 9px;
}

	</style>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/add_rows_dynamically.js') }}" ></script>  

	<script type="text/javascript">

	var all_recipe_names = [
		{% for recipe_name in all_recipe_names%}
		"{{recipe_name}}",
		{% endfor %}
		""
	];

	function checkRecipenameUniqueness(all_recipe_names) {
		return all_recipe_names == document.forms["recipe_input"]["Rezeptname"].value;
	}

	function checkName(title_field) {
		if (title_field.value=="") {
			document.getElementById("submit_recipe").disabled = true;
		}
		else if (all_recipe_names.find(checkRecipenameUniqueness)) {
			document.getElementById("nameNotUnique").style.visibility ="visible";
			document.getElementById("submit_recipe").disabled = true;
			return false;
		}
		else {
			document.getElementById("nameNotUnique").style.visibility ="hidden";
			document.getElementById("submit_recipe").disabled = false;
			return true
		}
	}

	function category_entity(cat_name) {
		return '<div class="Kategorie"><input type="hidden" name="Kategorien" value=' + cat_name +'>' + cat_name + ' <a onclick="remove_category(this)"><img src="{{ url_for("static", filename="images/delete.png") }}"></a></div>';
	}

	function add_category() {
		var txt_cat = document.getElementById("txt_add_cat").value;
		if (txt_cat.endsWith(",")) {
			var txt_cat_trimmed = txt_cat.slice(0,(txt_cat.length-1));
			document.getElementById("categories").innerHTML = document.getElementById("categories").innerHTML + category_entity(txt_cat_trimmed);
			document.getElementById("txt_add_cat").value = "";
		}
	}

	function remove_category(category_to_delete) {
		category_to_delete.parentNode.remove();
	}

	if (window.parent && window.parent.parent){
	  window.parent.parent.postMessage(["resultsFrame", {
		height: document.body.getBoundingClientRect().height,
		slug: "jCMc8"
	  }], "*")
	}

	// always overwrite window.name, in case users try to set it manually
	window.name = "result"

  </script>

</head>
<body>
	{% include 'top_menue.html' %}
	<h2>Neues Rezept anlegen</h2>
	<form action="new_recipe_review" method="post" autocomplete="off" name="recipe_input">
		<!-- Dies ist eine Anmerkung ohne sinnvollen Inhalt. Sozusagen von einem politiker formuliert.-->
		<input type="hidden" name="nochmal_reviewen" value="1">
		<input type="hidden" name="review_runde" value="0">
		<input type="hidden" name="source" value="manual">
		<input type="hidden" name="new_or_edit" value="new">
		<input id="field_recipe_edited" type="hidden" name="recipe_changed" value="initial">

		<table>
			<tr>
				<td>
					Rezeptname:
				</td>
				<td colspan="2">
					<input name="Rezeptname" placeholder="Name des Rezepts ..." oninput="checkName(this)">
					<span id="nameNotUnique" style="visibility:hidden"><font color="red">Name schon vorhanden</font></span>
				</td>
			</tr>
			<tr>
				<td>
					Kategorien:
				</td>
				<td colspan="2">

					<div id="categories">
						<!-- <div class="Kategorie">Cat1 <a onclick="remove_category(this)"><img src="{{ url_for('static', filename='images/delete.png') }}"></a></div> -->
					</div>
					<span>
						<input id="txt_add_cat" list="all_categories" name="Kategorien" placeholder="Kategorie ..." onkeyup="add_category()">
							<datalist id="all_categories">
								{% for category in all_categories %}
								<option value="{{category}}">
								{% endfor %}
							</datalist>
					</span>
				</td>
			</tr>
			<tr>
				<td>
					Personen:
				</td>
				<td colspan="2">
					<input name="Personenzahl" placeholder="für wieviele Personen?" value="{{recipe['Personenzahl']}}">
				</td>
			</tr>
			<tr>
				<td colspan="3">
					Zutaten:
				</td>
			</tr>
			<tr>
				<td colspan="3">
					</table>
					<section>
						<div id="initRow">
							<table>
							<tr>
								<td>
									<input type="text" name="Menge" placeholder="Menge ..." style="width:40pt;">
								<td>
									<input list="Mengeneinheit" name="Mengeneinheit" placeholder="ME" style="width:60pt;">
									  <datalist id="Mengeneinheit">
										{% for unit in all_units%}
										<option value="{{unit}}">
										{% endfor %}
									  </datalist>
								</td>
								<td>
								  <input type="hidden" name="Zutat_wasTun" value="damit es da ist">
								  <input list="Zutat" name="Zutat" placeholder="Zutat ...">
									  <datalist id="Zutat">
										{% for ingredient in all_ingredients %}
										<option value="{{ingredient}}">
										{% endfor %}
									  </datalist>
								</td>
							</tr>
							</table>
						</div>
					</section>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					Anweisungen:
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<textarea name="Anweisungen" rows="10" style="width:100%;" placeholder="Rezeptanweisungen ..."></textarea> 
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<input type="submit" id="submit_recipe" disabled="true" value="Zur Überprüfung">
				</td>
			</tr>
		</table>
	</form>

</body>
</html>
