<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

{% include 'top_menue.html' %}

<h2>Funktionen</h2>

<a href="search_by_ingredient">Rezepte nach Zutaten suchen</a>, <a href="import_recipe_from_chefkoch">Neues Rezept aus Chefkoch.de importieren</a>

<h2>Alle Rezepte</h2>

<section class="container">

    <input type="search" class="light-table-filter" data-table="table-info" placeholder="Filter/Search">

    <table id="table_all_recipes" class="table-info table">
        <tbody>
            {% for recipe in all_recipe_names_with_categories %}
            <tr class="recipe_entry">
                <td>
                    <a href="{{recipe[0]}}">{{recipe[0]}}</a>
                </td>
                <td>
                    {% for category in recipe[1] %} {{category}} {% endfor %}
                </td>
                <td>
                    <a href="add_recipe_to_sl_{{recipe[0]}}">einkaufen</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</section>

    <script  src="{{ url_for('static', filename='js/searchable_table.js') }}"></script>


<p>Git Commit ID: {{commit}}</p>

</body>
</html>
