<head>
<style>
table, th, td {

  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
{% include 'top_menue.html' %}
<h2>Einkaufslisten</h2>

<a href="/sl_edit_new">Neue Einkaufsliste erstellen</a>

<section class="container">

	<input type="search" class="light-table-filter" data-table="table-info" placeholder="Filter/Search">

	<table class="table-info table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Datum</th>
				<th>Aktionen</th>
			</tr>
		</thead>
		<tbody>
			{% for sl in all_shopping_lists %}
			<tr>
				<td><a href="/sl_show_{{sl[0]}}">{{sl[0]}}</a></td>
				<td>{{sl[1]}}</td>
				<td><a href="/sl_edit_{{sl[0]}}">&auml;ndern</a>, <a href="/sl_delete_{{sl[0]}}">l&ouml;schen</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</section>

    <script  src="{{ url_for('static', filename='js/searchable_table.js') }}"></script>

</body>
