<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title></title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="googlebot" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<script
		type="text/javascript"
    src="{{ url_for('static', filename='js/jquery-1.8.3.js') }}"
		
	></script>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">

		<link rel="stylesheet" type="text/css" href="/css/result-light.css">


	<style id="compiled-css" type="text/css">
			section {
		padding: 10px;        
}

section > div {
		padding: 5px;
		width: 100%;
}

div.new {
		background-color: rgb(230,230,230);
		border-bottom: 1px dotted #ccc;
		display: none;
}

input {
		border: 1px solid #eee;
		border-radius: 4px;
		line-height: 1.5em;
		padding: 4px;
}

a.rowDelete {
		cursor: pointer;
		padding-left: 9px;
}

	</style>


	<!-- TODO: Missing CoffeeScript 2 -->

	<script type="text/javascript">


$(window).load(function(){
			
	function addRow(section, initRow) {
		var newRow = initRow.clone().removeAttr('id').addClass('new').insertBefore(initRow),
			deleteRow = $('<a class="rowDelete"><img src="http://i.imgur.com/ZSoHl.png"></a>');
		 
		newRow
			.append(deleteRow)
			.on('click', 'a.rowDelete', function() {
				removeRow(newRow);
			})
			.slideDown(300, function() {
				$(this)
					.find('input').focus();
			})
	}
			
	function removeRow(newRow) {
		newRow
			.slideUp(200, function() {
				$(this)
					.next('div:not(#initRow)')
						.find('input').focus()
						.end()
					.end()
					.remove();
			});
	}

	$(function () {
		var initRow = $('#initRow'),
			section = initRow.parent('section');
		
		initRow.on('focus', 'input', function() {
			addRow(section, initRow);
		});
	});
});

var recipe_data = [{% for recipe in all_recipes_with_ingredients %}["{{recipe[0]}}", [{% for ingredient in recipe[1] %}"{{ingredient}}", {% endfor %}""]], {% endfor %}["", [""]]];
var recipe_mockup = [["Kuchen", ["Mehl", "Zucker", "Salz"]], ["Brot", ["Mehl", "Salz", "Hefe"]], ["Suppe", ["Wasser", "Nudeln"]]];

function display_string_for_recipe(recipe_name) {
	return '<a href="' + recipe_name + '">' + recipe_name + '</a><br>';
}

function find_recipes_by_ingredients(){
	var ing_search = [];
	var inputForm = document.forms["frm_ingredients"];
	for (i = 0; i < inputForm.length; i++) {
		if (inputForm[i].value != "") {
			ing_search.push(inputForm[i].value);
		}
	}
	var recipe_name = "";
	var results = [];
	var finding;
	
	for (i = 0; i < recipe_data.length; i++) {
		recipe_name = recipe_data[i][0];
		recipe_ingredients = recipe_data[i][1];
		
		flag_recipe_good = true;
		j = 0;
		while (j < ing_search.length) {
			
			finding = recipe_ingredients.indexOf(ing_search[j]);
			
			//console.log("searching for " + ing_search[j] + " in " + recipe_name + " with ingredients: "+ recipe_ingredients + ". Finding = " + finding)
			
			if (finding == -1) {
				//console.log(recipe_name +" is not the right recipe.")
				flag_recipe_good = false;
				break;
			}
			j++;
		}
		if(flag_recipe_good) {

			results.push(display_string_for_recipe(recipe_name));
		}
	}
	document.getElementById("results").innerHTML = results;
}

</script>

</head>
<body>
	{% include 'top_menue.html' %}
	<h2>Rezeptsuche nach Zutaten</h2>
		<h3>Zutaten eingeben:</h3>
		<form id="frm_ingredients">
				<section>
				<div id="initRow">
						<input type="text" list="all_ingredients" class="input_ingredient" placeholder="Zutat" onInput="find_recipes_by_ingredients()" onKeyUp="find_recipes_by_ingredients()">
						<datalist id="all_ingredients">
							{% for ingredient in all_ingredients %}
								<option value="{{ingredient}}">
							{% endfor %}
						</datalist>
				</div>
		</form>
		</section>

<h3>Ergebnisse</h3>

<p id="results"></p>
	
	<script>
		
		// tell the embed parent frame the height of the content
		if (window.parent && window.parent.parent){
			window.parent.parent.postMessage(["resultsFrame", {
				height: document.body.getBoundingClientRect().height,
				slug: "jCMc8"
			}], "*")
		}

		// always overwrite window.name, in case users try to set it manually
		window.name = "result"
	</script>
</body>
</html>
