<head>
<style>
table, th, td {

  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
{% include 'top_menue.html' %}
<h2>Einkaufsliste: {{sl["Name"]}}</h2>
<p>vom {{sl["Datum_Erstellung"]}}</p>

<h3>Positionen</h3>

<table>
	{% for position in bom %}
	<tr>
		<td>{{position[0]}}</td><td>{{position[1]}}</td><td>{{position[2]}}</td>
	</tr>
	{% endfor %}
</table>

<h3>Notizen</h3>
<p>{{sl['Notizen']}}</p>

<h3>Enthaltene Rezepte</h3>

<table>
	<thead>
		<th>
			Rezeptname
		</th>
		<th>
			Anzahl Portionen
		</th>
	</thead>
	<tbody>
	{% for recipe in sl["Rezepte"]%}
	<tr>
		<td>
			{{recipe[0]}}
		</td>
		<td>
			{{recipe[1]}}
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

 <!--the data from the form below is transfered to "create_recipe_review" in order to edit the recipe-->
<p id="Kommandozeile">
<a href="sl_edit_{{sl['Name']}}">Eintrag bearbeiten</a> <a href="sl_delete_{{sl['Name']}}">Eintrag l&ouml;schen</a> <a href="../">Zur Hauptseite</a></p>
</body>
