<h2>Rezepte</h2>
in welchen folgende Zutaten vorkommen:
{% for zutat in zutaten %}
<br>{{ zutat }}
{% endfor %}

<h3>Ergebnisse</h3>
{% for ergebnis in ergebnisse %}
<a href="{{ergebnis}}">{{ergebnis}}</a>
{% endfor %}
