<!-- <!DOCTYPE html> -->
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <style id="compiled-css" type="text/css">
      section {
    padding: 10px;        
}

section > div {
    padding: 5px;
    width: 100%;
}

div.new {
    background-color: rgb(230,230,230);
    border-bottom: 1px dotted #ccc;
    display: none;
}

input {
    border: 1px solid #eee;
    border-radius: 4px;
    line-height: 1.5em;
    padding: 4px;
}

a.rowDelete {
    cursor: pointer;
    padding-left: 9px;
}

  </style>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/add_rows_dynamically.js') }}" ></script>  

<script type="text/javascript">

  	var all_shopping_list_names = [
  		{% for shopping_list_name in all_shopping_list_names%}
		"{{shopping_list_name}}",
		{% endfor %}
		""
  	];

	function checkRecipenameUniqueness(all_shopping_list_names) {
		return all_shopping_list_names == document.forms["shopping_list_input"]["Einkaufsliste_Name"].value;
	}

  	function checkName(title_field) {
  		if (title_field.value=="") {
  			document.getElementById("submit_sl").disabled = true;
  		}
  		else if (all_shopping_list_names.find(checkRecipenameUniqueness)) {
  			document.getElementById("nameNotUnique").style.visibility ="visible";
  			document.getElementById("submit_sl").disabled = true;
  			return false;
  		}
  		else {
  			document.getElementById("nameNotUnique").style.visibility ="hidden";
  			document.getElementById("submit_sl").disabled = false;
  			return true
  		}
  	}

	function category_entity(cat_name) {
		return '<div class="Kategorie"><input type="hidden" name="Kategorien" value=' + cat_name +'>' + cat_name + ' <a onclick="remove_category(this)"><img src="{{ url_for("static", filename="images/delete.png") }}"></a></div>';
	}

	function add_category() {
		var txt_cat = document.getElementById("txt_add_cat").value;
		if (txt_cat.endsWith(",")) {
			var txt_cat_trimmed = txt_cat.slice(0,(txt_cat.length-1));
			document.getElementById("categories").innerHTML = document.getElementById("categories").innerHTML + category_entity(txt_cat_trimmed);
			document.getElementById("txt_add_cat").value = "";
		}
	}

	function remove_category(category_to_delete) {
		category_to_delete.parentNode.remove();
	}

  </script>

</head>
<body>
	{% include 'top_menue.html' %}
	<h2>{% if new_or_edit == "new" %}Neue Einkaufsliste anlegen{% else %}Einkaufsliste bearbeiten{%endif%}</h2>
	<form action="sl_save" method="post" autocomplete="off" name="shopping_list_input">
		<!-- Dies ist eine Anmerkung ohne sinnvollen Inhalt. Sozusagen von einem politiker formuliert.-->
		<input type="hidden" name="nochmal_reviewen" value="1">
		<input type="hidden" name="review_runde" value="0">
		<input type="hidden" name="source" value="manual">
		<input type="hidden" name="new_or_edit" value="new">
		<input id="field_recipe_edited" type="hidden" name="recipe_changed" value="initial">

		<table>
			<tr>
				<td>
					Name der Liste:
				</td>
				<td colspan="2">
					{% if new_or_edit == "new" %}
					<input name="Einkaufsliste_Name" placeholder="Name der Liste ..." oninput="checkName(this)">
					<span id="nameNotUnique" style="visibility:hidden"><font color="red">Name schon vorhanden</font></span>
					{% else %}
					<input type="hidden" name="Einkaufsliste_Name" value="{{sl['Name']}}">
					{{sl['Name']}}
					{% endif %}

				</td>
			</tr>
			<tr>
				<td colspan="3">
					Rezepte:
				</td>
			</tr>
			<tr>
				<td colspan="3">
					</table>

					{% for rezept in sl['Rezepte'] %}
					<section>
						<div id="oldrow_{{rezept[0]}}">
							<table>
							<tr>
								<td>
									<input list="Rezepte" name="Rezepte" value="{{rezept[0]}}" style="width:100pt;">
									  <datalist id="Rezepte">
										{% for recipe_name in all_recipe_names%}
										<option value="{{recipe_name}}">
										{% endfor %}
									  </datalist>
								</td>
								<td>
									<input type="text" name="Personenzahl" value="{{rezept[1]}}" placeholder="1" style="width:40pt;">
								</td>
							</tr>
							</table>
						</div>
					</section>
					{% endfor %}

					<section>
						<div id="initRow">
							<table>
							<tr>
								<td>
									<input list="Rezepte" name="Rezepte" placeholder="Rezeptname" style="width:100pt;">
									  <datalist id="Rezepte">
										{% for recipe_name in all_recipe_names%}
										<option value="{{recipe_name}}">
										{% endfor %}
									  </datalist>
								</td>
								<td>
									<input type="text" name="Personenzahl" placeholer="1" style="width:40pt;">
								</td>
							</tr>
							</table>
						</div>
					</section>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					Notizen:
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<textarea name="Notizen" rows="10" style="width:100%;" placeholder="F&uuml;r wen, warum, wann. Anmerkungen halt ...">{{sl['Notizen']}}</textarea> 
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<input type="submit" id="submit_sl" {% if new_or_edit == "new" %} disabled="true" {% endif %} value="Einkaufsliste speichern">
				</td>
			</tr>
		</table>
	</form>

</body>
</html>
