<h1>
	<a href="/"><img class="Icon" src="{{ url_for('static', filename='images/cookbook.png') }}" alt="Hauptmen&uuml;" title="Hauptmen&uuml;" height=40px></a>
	<a href="/new_recipe"><img class="Icon" src="{{ url_for('static', filename='images/add_recipe.png') }}" alt="Rezept Eintragen" title="neues Rezept anlegen" height=40px></a>
	<a href="/shopping_lists"><img class="Icon" src="{{ url_for('static', filename='images/shopping_list.png') }}" alt="Einkaufslisten verwalten" title="Einkaufslisten" height=40px></a>
	<a href="/info"><img class="Icon" src="{{ url_for('static', filename='images/info.png') }}" alt="Programminfos Anzeigen" title="Programminfos anzeigen" height=40px></a>
</h1>
