<head>
<link rel="stylesheet" type="text/css" href="../web_frontend/static/css/style.css">
</head>

<body>
<h1><img class="Icon" src="images/cookbook.png" alt="Hauptmenue" height=40px></h1>

<h2>Heisse Schokolade</h2>

<div class="Kategorie">Getraenk</div><div class="Kategorie">Snack</div>


<table id="zutaten">
	<tr>
		<td class="alignright">1</td>
		<td>Msp.</td>
		<td>Kardamom</td>
	</tr>
	<tr>
		<td>250</td>
		<td>ml</td>
		<td>Hafermilch</td>
	</tr>

</table>

<p id="Anweisungen">etwa 200ml der Milch in eine Tasse geben, dann alle anderen Zutaten dazu. Einwenig umruehren, sodass die trockenen Zutaten nicht an der Oberflaeche schwimmen. Anschliessend in der Mikrowelle bei 800W ca. 1 Minute erwaermen. Anschließend nochmal umruehren, bis alles homogen verteilt ist. Jetzt die restlichen 50ml der Milch dazu geben und ggf. nochmals erhitzen.</p>

<p id="Kommandozeile">Editieren, Zurueck, zufaelliges Rezept</p>

</body>
