<head>
	<title>Overview Testcases</title>
</head>
<body>
	<p><a href="/test_ck">Test Chefkoch.de</a> Parser with<a href="https://www.chefkoch.de/rezepte/3022511455043635/Kuerbissuppe-mit-einem-Hauch-Curry.html">https://www.chefkoch.de/rezepte/3022511455043635/Kuerbissuppe-mit-einem-Hauch-Curry.html</a></p>

	<p><a href="/new_recipe">Test new_recipe</a></p>

	<p><a href="/named_tuple">Test flasks ability to handle named tuples</a></p>

	<p><a href="/show_Kinderpunsch">Zeige Rezept Kinderpunsch an</a></p>

</body>