<head>
<style>
table, th, td {

  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<script type="text/javascript">
	var original_portions = parseFloat({{recipe['portions']}});
	var original_amounts = [
		{% for ingredient in recipe["ingredients"] %}
		{{ingredient.amount}},
		{% endfor %}''
		]

	function recalculate_amounts(persons) {
		// console.log(document.getElementsByClassName("ingredientslist_amount").innerText);
		var new_persons = parseFloat(persons.value);
		var current_amounts = getAllByClass("ingredientslist_amount");
		var new_amount = 1
		for (var i = 0; i < current_amounts.length; i++ ){
			if (original_amounts[i] != undefined ) {
	        	new_amount = new_persons / original_portions * parseFloat(original_amounts[i]);
	        	console.log("new_p: " + new_persons + ", orig_p: " + original_portions + ", orig_am: "+ original_amounts[i].value + ", new_am: " + new_amount);
	        	console.log(new_amount);
	        	current_amounts[i].innerText = new_amount;
        	}
        };
	}

	function getAllByClass(classname, node) {
	    if (!document.getElementsByClassName) {
	        if (!node) {
	            node =  document.body;
	        }

	        var a = [],
	            re = new RegExp('\\b' + classname + '\\b'),
	            els = node.getElementsByTagName("*");

	        for (var i = 0, j = els.length; i < j; i++) {
	            if (re.test(els[i].className)) {
	                a.push(els[i]);
	            }
	        }
	    } else {
	        a = document.getElementsByClassName(classname);
	    }

    return a;
	}


</script>

</head>

<body>
{% include 'top_menue.html' %}
<h2>{{recipe["name"]}}</h2>
<p> 
	<form action = "add_recipe_to_sl_{{recipe['name']}}" method="POST">
		für <input type="text" value="{{recipe['portions']}}" oninput="recalculate_amounts(this)" size="1" name="quantity_for_sl">
		Personen.
		<input type="submit" value="Zur aktuellen Einkaufsliste">
	</form>
</p>

{% for category in recipe['categories'] %}
<div class="Kategorie">{{category}}</div>
{% endfor %}

<table id="zutaten">
	<tr>
		<td colspan="3"><b>Zutaten</b></td>
	</tr>
	{% for ingredient in recipe["ingredients"] %}
	<tr>
		<td class="ingredientslist_amount" width="1%">{% if ingredient.amount %}{{ingredient.amount}}{%endif%}<input type="hidden" class="original_amount" name="original_amount" value="{{ingredient.amount}}"></td>
		<td align="left" width="15%">{% if ingredient.unit %} {{ingredient.unit}} {% endif %}</td>
		<td align="left">{{ingredient.ingredient}}</td>
	</tr>
	{% endfor%}
	<tr>
		<td colspan="3"><b>Anweisungen</b></td>
	</tr>
	<tr>
		<td colspan="3"><p id="Anweisungen">{{recipe["instructions"]}}</p></td>
	</tr>
</table>

 <!--the data from the form below is transfered to "create_recipe_review" in order to edit the recipe-->
<p id="Kommandozeile">
<form action="{{recipe['name']}}_edit" method="post" autocomplete="off">
	<input type="submit" value="Eintrag bearbeiten">
</form>
<form action="{{recipe['name']}}_delete" method="post">
	<input type="hidden" name="sure_you_want_to_delete" value="no_decision">
	<input type="submit" value="Eintrag l&ouml;schen">
</form>
<a href="../">Zur Hauptseite</a>, <a href="/show_json_{{recipe['name']}}">als json anzeigen</a>
</p>
</body>
